<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2>Add Employee</h2>
    </hr>
<form th:action="@{addEmployee}" method="post" th:object="${employee}">
    <input name="name" th:field="*{name}" type="text" class="form-control col-md-4 mb-4" placeholder="name"/>
    <input name="email" th:field="*{email}" type="email" class="form-control col-md-4 mb-4" placeholder="email"/>
    <input name="pin" th:field="*{pin}" type="text" class="form-control col-md-4 mb-4" placeholder="pin"/>
    <input name="mobile" th:field="*{mobile}" type="text" class="form-control col-md-4 mb-4" placeholder="mobile"/>
    <input type="hidden" th:field="*{id}" name="id">
    <input name="submit" type="submit" class="form-control btn btn-primary"/>
</form>
</div>
</body>
</html>