<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<h2>List Employees</h2>
<table border="1px">
<thead>
    <tr>
        <td>name</td>
        <td>email</td>
        <td>pin</td>
        <td>mobile</td>
    </tr>
</thead>
    <tbody>
    <tr th:each="employee: ${employees}">
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.email}"></td>
    <td th:text="${employee.pin}"></td>
    <td th:text="${employee.mobile}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>